/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-mikqtqaalp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  background-color: rgb(255, 255, 255);
  color: white;
}
.nav-brand[b-mikqtqaalp] {
  color: #ffffff;
}

a[b-mikqtqaalp] {
  color: #0077cc;
}

.btn-primary[b-mikqtqaalp] {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.nav-pills .nav-link.active[b-mikqtqaalp], .nav-pills .show > .nav-link[b-mikqtqaalp] {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.border-top[b-mikqtqaalp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-mikqtqaalp] {
  border-bottom: 1px solid #000000;
}

.box-shadow[b-mikqtqaalp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-mikqtqaalp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-mikqtqaalp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  color:white;
}
